.containerHeader {
  background-color: beige;
}

.containerProductCategories {
background-color: antiquewhite;
}

.containerFooter {
  background-color: bisque;
}

.appWrapperContent {
  margin-top: 100px;
}

a, p, h4 {
  font-family: 'Kanit', sans-serif;
}