.containerProductCategories {
    display: flex; 
    justify-content: space-between;
    background-color: white;
    padding-top: 100px;
   
}

.appWrapperContent {
    max-width: 1550px;
    margin: 0 auto;
}

.shoes, .clothing, .accessories {
    padding-left: 10px;
    padding-right: 10px;
}

img:hover {
    color: #e4dede;
  }

  @media all and (max-width: 1100px) {
    .containerProductCategories {
        flex-wrap: wrap;
        justify-content: center
    }
}  

  @media all and (max-width: 646px) {
    .containerProductCategories {
        padding-top: 160px
    }
}  